.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 25px;
    overflow: hidden;
  }
  
  .search-input {
    border: none;
    background-color: #c1bcbd;
    border-radius: 9px;
    width: 340px;
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    outline: none;
  }
  
  
  
  
  

  